<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>

</head>
<body>
<H1>Dream Team</H1>

<form action="/DreamTeam/webapp">
<select name="lbound">
	{% for years in year_list %}
		{% if years == lbound %}
			<option selected value="{{ years }}">{{ years }}</option> 
		{% else %} 
			<option value="{{ years }}">{{ years }}</option> 
		{% endif %}
	{% endfor %}
</select>
<select name="ubound">
	{% for years in year_list %}
		{% if years == ubound %}
			<option selected value="{{ years }}">{{ years }}</option> 
		{% else %} 
			<option value="{{ years }}">{{ years }}</option> 
		{% endif %}
	{% endfor %}
</select>
<input type="submit" value="go">
</form>

{{ script|safe }}
{{ div|safe }}

</body>
</html>