 <center><h1>**** Team V/S Team Win Percentage ****</h1></center></br>
 <ul>
    <li><b>about:</b> returns json data of win percentages of given teams against each other</li>
    <li><b>usage:</b> <a href="/TeamVsTeamWinPercentage?team1=Chennai+Super+Kings&team2=Delhi+Daredevils">/TeamVsTeamWinPercentage?team1=Chennai+Super+Kings&amp;team2=Delhi+Daredevils</a></li>
    <li><b>teams:</b></li>
    <ul>
        <li>Rajasthan Royals</li>
        <li>Chennai Super Kings</li>
        <li>Deccan Chargers</li>
        <li>Gujarat Lions</li>
        <li>Delhi Daredevils</li>
        <li>Mumbai Indians</li>
        <li>Kochi Tuskers Kerala</li>
        <li>Royal Challengers Bangalore</li>
        <li>Pune Warriors</li>
        <li>Rising Pune Supergiants</li>
        <li>Sunrisers Hyderabad</li>
        <li>Kolkata Knight Riders</li>
        <li>Kings XI Punjab</li>
    </ul>
</ul>